@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
/* -------------backgroud image---------------------- */

header {
    width: 100vw;
    height: 100vh;
    background-image: url(./img/header-bg.png);
    background-position: bottom;
    background-size: cover;


}
/* -------------/backgroud image---------------------- */
/*----------------- text editing----------------------  */

.navbar {
     display: flex;
     justify-content: space-between;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     padding: 20px;
     color: whitesmoke;

}

ul{
    list-style: none;
    color: whitesmoke;
}
.nav-links{
    display: flex;
}

.nav-links li {
    margin: 0 30px;

}

.active {
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}

.anchortag{
    color: whitesmoke;
    font-weight: bold;
}



header{
    display: flex;
    align-items: center;
    justify-content: center;
     
}

.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2{
    font-size: 4vmin;


}
.line {
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto ;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background-color: #fc036b;
    border-radius: 30px;
    color: whitesmoke;

}

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}






/*----------------- text editing----------------------  */


/* ------------------mobile device------------------------- */
@media only screen and (max-width: 850px){
    .navbar {
        padding: 0;
    }
    
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;

    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: rgb(108, 116, 176);
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li{
        margin: 30px auto;
    }
    .menu-btn{
        display: block;
    }
}

/* ------------------mobile device------------------------- */

